


   body{
    margin: 0;
    padding: 0;
    
    }


    .navbar{
      background-color:rgb(240, 37, 138);
      padding: 20px;
      text-align: center;
      }
      .head{
          text-decoration: none;
          padding: 15px;
          color: black;
          font-size: 35px;
      }
      .head:hover{
          background-color: white;
          border-radius: 15px;
      }
      
      
      
